{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hipster Shop</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script>
     (function(c,e,f,k,g,h,b,a,d){c[g]||(c[g]=h,b=c[h]=function(){
      b.q.push(arguments)},b.q=[],b.l=1*new Date,a=e.createElement(f),a.async=1,
      a.src=k,a.setAttribute("crossorigin", "anonymous"),d=e.getElementsByTagName(f)[0],
      d.parentNode.insertBefore(a,d))})(window,document,"script",
      "//eum.instana.io/eum.min.js","InstanaEumObject","ineum");
      ineum('reportingUrl', 'https://eum-red-saas.instana.io');
      ineum('key', '3ko7Izn8SsKTVptBjoCAWQ');
      ineum('traceId', {{$.traceid}});
      ineum('page', "Hipster Shop");
      ineum('user', {{$.session_id}}, "unknown user", "noUserEmail");
    </script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    Hipster Shop
                </a>
                {{ if $.currencies }}
                <form class="form-inline ml-auto" method="POST" action="/setCurrency" id="currency_form">
                    <select name="currency_code" class="form-control"
                    onchange="document.getElementById('currency_form').submit();" style="width:auto;">
                    {{range $.currencies}}
                        <option value="{{.}}" {{if eq . $.user_currency}}selected="selected"{{end}}>{{.}}</option>
                    {{end}}
                    </select>
                    <a class="btn btn-primary btn-light ml-2" href="/cart" role="button">View Cart ({{$.cart_size}})</a>
                </form>
                {{ end }}
            </div>
        </div>
    </header>
{{end}}
